{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.text) }}

    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}
{% endblock %}

